<h1>Netlify Support Engineer</h1>

<h3>Thanks for the opportunity, Chris! I've answered the exercise questions below:</h3>

<h3>From the list of tasks, here are my favorite and least favorite ones.</h3>

<h3>Favorite</h3>
<ul>
<li>Respond to 50+ support requests via email or chat most days</li>
<li>Dig through server logs to troubleshoot a customer's website behavior</li>
<li>Work with the development team to help design a new feature based on feedback from customers
</li>
<li>Write and maintain documentation for our software and blog posts for our website</li>
<li> Set up your own copy of several static site frameworks for debugging</li>
</ul>

<h3>Least favorite</h3>
<ul>
<li>Submit bug reports and potentially bug fixes to closed and open source projects that Netlify maintains on GitHub</li>
<li>Find and recruit teammates for the Support team</li>
<li>Manage a Support team</li>
<li>Engage multiple users at once via chat to answer their questions and troubleshoot problems</li>
<li>Receive occasional phone calls requesting support from our highest-value customers</li>
</ul>

<h3>What do you find interesting about Tech Support?</h3>

<p>What I find most interesting and rewarding about it is that we chat with our customers all day every day. For some customers, we are the company. It's great being able to help them get to the bottom of the issue they're facing. Sometimes we even get to put a smile on their faces. There's also the fact that we get to work with cool technology that's constantly evolving, That always keeps me interested</p>

<p>What did you think of our service during the time you used it?</p>
I first stared using Netlify a few months ago as I wanted a place to host my
<a href="https://www.silveriofunk.com" title="toy project" target="_blank" rel="external">toy projects</a> and really liked how easy it was to push my files via the CLI client and also configure and add SSL to my domain name. There was also lots of videos and documentation available for me to use.
The one aspect I did find tricky was having two domain names within the same account and changing the primary domain name. I wanted to also add SSL to the new primary domain name but couldn't find a way to do it. It was still linked to the former primary domain name. I gave up but it is something I want to investigate again as I still want to make that change.</p>

<h3>Talk about how you made your site and why you chose the tools you did. Briefly explain a challenge you experienced in setting up this site and how you solved it.</h3>
<p>After testing a few of the generators I decided to go with <a href="https://www.hexo.io" title="hexo" target="_blank" rel="external">Hexo.io</a> as I found that removing all formatting and adding the ability to display external links was a bit tricky with some of them for a complete beginner. After poking around I was able to achieve what I needed (basic HTML site) with Hexo. However with more time I would have gone with Hugo.</p>

<p>One of the challenges was actually setting up a different SSH key on my machine so I could push to the newly created Github account. That took me a while and lots of googling, but I eventually found a way to achieve that. As this is an account that I'll discard after this process is over I'm manually adding/removing the SSH key I'm about to use at each stage. Setting up the site and custom domain within Netlify was the easier part of the challenge. I also added the optional requests</p>

<h3>
Provide a link to documentation for a technical/developer-focused product, which you think are well done, and briefly explain why you think they are well done.</h3>
<p>A few come to mind. I really like the docs that <a href="https://www.stripe.com/docs/api" title="stripe" target="_blank" rel="external">Stripe</a> has put together.</p>
<p>Specifically, I like how they always have an example request with an example response in a very clear way. Totally separated from the main body of the docs.</p>
<p>There's also <a href="https://www.slack.com" title="slack" target="_blank" rel="external">Slack's</a>, Apart from how the information is organized. I particularly like how they have a "Start Here" section with Best practices. The way the navigation hides based on what the user has clicked helps avoid clutter. I really like it.</p>

<h3>Why do you think SSL/HTTPS is important?</h3>
<p>HTTPS stops people from interfering with the communication between the sites I own and the users that might be visiting as unprotected HTTP requests can reveal information about visitors to the site that others can exploit. Not cool.</p>

<h3>Explain, in a couple of paragraphs, what you think 2 major challenges around DNS configuration are for less-technical internet end-users.</h3>
<ul>
    <li>The main issue I find is that it can be tricky to understand the different types of records and what they're used for. The fact that it may appear that the same result can be achieved with different records can create further confusion.</li>
    <li>I feel that Time to Live can also be challenging for less technical users as the changes made to a domain name's name servers can take a while to be visible and the user might be expeting the changes to be instant.</li>
</ul>

<h3>A customer writes in saying their “site won’t build”.  Compose: your best short (2-paragraph) customer-facing answer... </h3>

<p>Hello {customer name}</p>

<p>Sorry for the troubles here! I'd be happy to look into it so we can get the site up for you.</p>

<p>Can you tell me if the site did build on your local environment? If it did, will it be possible for you to check if the package versions we used to try to build your site match yours? This is leading cause of builds failing. You can find these settings <a href="https://www.netlify.com/docs/build-settings/" title="netlify" target="_blank" rel="external">here.</a> Would you be able to check and confirm if this did the trick for you?</p>

<p>Cheers!</p>

<p>Javier</p>

<h3>Can you set up a redirect from “/netlify/anything” to https://www.google.com/search?q=anything ?</h3>

<h3>Could you give us a suggestion to improve this test or the job posting?</h3>
<p>I can!. The test was quite fun. I really enjoyed it. I found having to pick my favorite and least favorite activities really challenging as these are all ones we should as a support team fulfil so a bit of information about why this is important would be helpful here.</p>

<p>Regarding the job posting, it would be great if the company goes into a bit more detail regarding the  compensation/benefits like other job postings within the same company.</p>

<p>That's it! Thanks for taking the time to read it all.</p>

<p>Cheers!</p>